@use "../utilities" as u;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  width: 100%;
}

body {
  background-color: u.$dark-color;
  font-family: u.$font;
}

::selection {
  background-color: u.$golden-color;
  color: u.$dark-color;
}
