@use "../utilities" as u;

// main
main {
  padding: u.rem(20) u.rem(20) 0;
  margin-top: u.rem(-50);
}

// home (result, headings, levels)
.total-homepage {
  .container-result-heading-level {
    min-height: 100vh;
    max-width: u.rem(500);
    margin: 0 auto;
    padding: u.rem(170) 0;
    @include u.flexbox(column, center, center);

    .result {
      text-align: center;
      color: u.$golden-color;

      &-user {
        font-size: u.rem(23);
      }
    }

    .heading {
      text-align: center;
      color: u.$golden-color;
      line-height: 1.5;

      &-one {
        font-size: u.rem(26);
        text-transform: uppercase;
      }

      &-two {
        font-size: u.rem(23);
        margin-top: u.rem(14);

        &-level-word {
          -webkit-text-fill-color: transparent;
          background: linear-gradient(
              to right,
              u.$lightgold-color,
              u.$mediumgold-color,
              u.$darkergold-color
            )
            text;
          font-size: u.rem(23);
        }
      }
    }

    .level {
      margin-top: u.rem(14);
      @include u.flexbox(column, center, center);
      @include u.mediaquery(u.em(410)) {
        @include u.flexbox(row, center, center);
      }

      &-basic,
      &-medium,
      &-advanced {
        cursor: pointer;
        margin: u.rem(20);
        border: u.rem(1) solid u.$golden-color;
        border-radius: u.rem(5);
        width: u.rem(82);
        height: u.rem(30);
        font-size: u.rem(13);
        font-weight: bold;
        font-family: u.$font;
        text-transform: uppercase;
      }

      &-basic {
        background-color: u.$lightgold-color;

        &:hover,
        &:active {
          box-shadow: 0 0 u.rem(1.5) u.$lightgold-color;
        }
      }
      &-medium {
        background-color: u.$mediumgold-color;

        &:hover,
        &:active {
          box-shadow: 0 0 u.rem(1.5) u.$mediumgold-color;
        }
      }
      &-advanced {
        background-color: u.$darkergold-color;

        &:hover,
        &:active {
          box-shadow: 0 0 u.rem(1.5) u.$darkergold-color;
        }
      }
    }
  }
}

// quiz
.total-quiz {
  .container-quiz {
    color: u.$golden-color;
    min-height: 100vh;
    max-width: u.rem(500);
    margin: 0 auto;
    padding: u.rem(170) 0;
    @include u.flexbox(column, center, center);

    .timer-assertions-tracking {
      @include u.flexbox(row, space-between, center);
      width: 100%;
      margin-bottom: u.rem(30);

      .timer {
        &-item {
          @include u.flexbox(row, center, center);
          height: u.rem(40);
          width: u.rem(40);
          background-color: u.$golden-color;
          border-radius: 50%;

          &-seconds {
            color: u.$dark-color;
            font-size: u.rem(24);
          }
        }
      }

      .assertions-tracking {
        .assertions-numbers {
          @include u.flexbox(row, flex-end, center);
          font-size: u.rem(24);

          .each-assertion {
            margin-left: u.rem(2);
          }
          .slash {
            @extend .each-assertion;
          }
          .total-assertions {
            @extend .slash;
          }
        }
      }
    }

    .assertion-container {
      margin-bottom: u.rem(20);
      width: 100%;

      .assertion {
        font-size: u.rem(24);
        font-weight: normal;
        text-align: center;
        height: u.rem(80);
        padding-top: u.rem(15);
      }
    }

    .answer {
      margin-bottom: u.rem(40);
      @include u.flexbox(row, center, normal);
      width: 100%;

      &-label {
        cursor: pointer;
        font-size: u.rem(22);
        margin: 0 u.rem(20);
        padding-left: u.rem(25);
        position: relative;
        // original radio buttons are hidden with class 'hidden'
      }
    }

    .button-container {
      text-align: center;
      margin-bottom: u.rem(30);
      width: 100%;

      .button-submit-js {
        cursor: pointer;
        padding: u.rem(2) u.rem(5) u.rem(3) u.rem(5);
        border-radius: u.rem(4);
        border: u.rem(1) solid u.$golden-color;
        color: u.$golden-color;
        font-family: u.$font;
        font-size: u.rem(19);
        background: transparent;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

// info(tooltip, about)
.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  // background-color: rgba(45, 45, 39, 0.4);

  .tooltip-about-container {
    background-color: u.$dark-color;
    color: u.$golden-color;
    border: u.rem(1) solid u.$golden-color;
    border-top-right-radius: u.rem(5);
    border-bottom-right-radius: u.rem(5);
    max-width: u.rem(250);
    height: u.rem(600);
    padding: 0 u.rem(20);
    line-height: 1.7;
    overflow: auto;
    position: absolute;
    top: u.rem(50);
    left: 0;
    border-left: none;
    @include u.keyframesModal(showModal) {
      0% {
        left: -50%;
      }
    }
    @include u.animationModal(showModal, 0.4s);
    @include u.mediaquery(u.em(700)) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include u.keyframesModal(showModal) {
        0% {
          top: -50%;
        }
      }
      border-left: u.rem(1) solid u.$golden-color;
      border-radius: u.rem(5);
      max-width: u.rem(600);
      height: u.rem(400);
    }

    .close-btn {
      font-size: u.rem(35);
      position: absolute;
      left: u.rem(10);
      top: u.rem(-5);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        color: u.$white-color;
      }
    }

    .about {
      padding: u.rem(10);
      margin-top: u.rem(20);

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: u.rem(25);
        padding: u.rem(10) 0;
      }

      &-paragraph {
        font-size: u.rem(21);
      }
    }

    .tooltip {
      padding: u.rem(10);
      margin: u.rem(20) 0;

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: u.rem(25);
        margin-bottom: u.rem(10);
      }

      &-paragraph {
        font-size: u.rem(21);

        code {
          text-align: left;
          padding: u.rem(4);
          color: u.$black-color;
          background-color: u.$shortcuts-color;
          border-radius: u.rem(5);
          line-height: 2.4;

          &::selection {
            background: transparent;
          }
        }
      }
    }
  }
}

// RADIO BUTTONS
/* ((create custom radio buttons)) */
.radio-circle::after {
  content: "";
  width: u.rem(20);
  height: u.rem(20);
  border-radius: 50%;
  background-color: u.$white-color;
  position: absolute;
  top: u.rem(4);
  left: u.rem(-1);
}

/* ((show the user's choice by coloring radio buttons)) */
input[type="radio"]:checked ~ .radio-circle::after {
  background: radial-gradient(
    circle at center,
    u.$black-color,
    u.$white-color 40%
  );
}
