$font: Verdana, Tahoma, sans-serif;
$dark-color: #1e2427;
$golden-color: #c0a187;
$white-color: #ffffff;
$black-color: #000000;
$darkgrey-color: #414141;
$lightgold-color: #d5ce97;
$mediumgold-color: #f5ea83;
$darkergold-color: #f6dd50;
$shortcuts-color: #d8d854;
$buttonclose-color: #f8d92c;
$levelword-color: #f4ce83;
